body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ffffff;
  color: #333;
}

.profile-container {
  background: rgb(114, 204, 237);
  padding: 30px;
  border-radius: 15px;
  margin-bottom: 50px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.profile-header {
  margin-bottom: 30px;
}

.profile-photo {
  width: 150px;
  height: 150px;
  border: 5px solid #007bff;
}

.profile-info h1 {
  font-size: 28px;
  color: #333;
}

.profile-info p {
  margin: 8px 0;
  color: #020202;
  font-size: 16px;
}

.profile-info p i {
  margin-right: 10px;
  color: #007bff;
  font-size: 16px;
}

.edit-profile-btn, .edit-service-btn {
  display: flex;
  align-items: center;
  font-size: 16px;
  justify-content: center;
}

.edit-profile-btn i, .edit-service-btn i {
  margin-right: 10px;
}

.profile-content h2 {
  font-size: 22px;
  border-bottom: 2px solid #007bff;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

#booking-history .list-group-item {
  font-size: 16px;
}

.btn-group .text {
  padding-right: 10px;
  color: rgb(255, 180, 6);
}

.btn-group .btn {
  margin-left: 5px;
}


.btn-group .btn:first-child {
  margin-left: 0;
}

.text-success {
  margin-right: 10px;
}

/* headerFooter.css */

/* Navbar styling */
.navbar {
background-color: #0D1456 !important;
}


.navbar-nav .nav-link {
color: white;
}

.navbar-nav .nav-link:hover {
color: #FFA500 !important;
background-color: #002b80;
border-radius: 20px;
padding: 10px;
}

.navbar-nav .logout:hover{
color: #ff0101 !important;
background-color: #002b80;
border-radius: 20px;
padding: 10px;
}

.header-card{
font-weight: bold; 
font-family: sans-serif; 
font-size: 47px; 
color: white;
}
.header-card-details{
font-size: 17px;
color:white;
font-family: monospace;
margin-left: auto;
}

/* Tour and Planner text styling */
.tour {
color: orange !important;
font-weight: bold;
margin-left: 1px;
}

.planner {
color: white !important;
}

/* Nav options styling */
.nav-options {
color: white;
transition: all 0.3s ease;
padding: 10px;
}

.nav-options:hover {
color: orange;

}
.nav-item.active {
color: orange !important;
background-color: #002b80;
border-radius: 20px;
}



/* Media queries for header responsive design */
@media (max-width: 500px) {
.navbar-brand.logo {
    font-size: 21px;
}

.navbar-nav .nav-link {
    font-size: 12px;
    margin-right: 11px;
}
.header-card{
    font-size: 22px;
}
.navbar-brand.logo {
    margin-left: 0px; /* Adjust the left margin as needed */
}
}

@media (min-width: 501px) {
.navbar-brand.logo {
    font-size: 29px;
    margin: 3px;
}

.navbar-nav .nav-link {
    font-size: 15px;
    margin-right: 14px;
}
.header-card{
    font-size: 30px;
}


}

@media (min-width: 768px) {
.navbar-brand.logo {
    font-size: 34px;
}

.navbar-nav .nav-link {
    font-size: 18px;
    margin-right: 20px;
}
.header-card{
    font-size: 35px;
}
.header-outer  {
    padding-left: 30px; /* Adjust the left margin as needed */
    padding-right: 30px;
}

}

@media (min-width: 992px) {
.navbar-brand.logo {
    font-size: 33px;
    margin-left: 12px;
}

.navbar-nav .nav-link {
    font-size: 20px;
    margin-right: 25px;
}
.navbar-nav .nav-link .logout {
    font-size: 20px;
    margin-left: 25px;
    /* align-items: end; */
}


.header-card{
    font-size: 45px;
}
.header-outer {
    padding-left: 40px; /* Adjust the left margin as needed */
    padding-right: 40px;
}


}
/* footer */

footer a{
text-decoration: none;
}
footer a:hover{
text-decoration: underline;
}
.body{
background: rgb(31, 25, 97);
}
